.DS_Store
node_modules
/dist
/demo-dist
/docs/.vitepress/cache
/docs/.vitepress/dist
/docs/public/demo
/.idea
/.pnpm-store
/temp

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
